* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Rose", cursive;
  }
  
  /* ------------------------------ */
  /* ---------- NAVBAR ------------ */
  /* ------------------------------ */
  body {
  
    background: linear-gradient(rgba(0, 0, 0, 0.701), rgba(10, 19, 86, 0.888)), url('assets/pexels-maxyne-barcel-10402282\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4%;
  }
  
  nav div ul li{
    font-size: 1.2em;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    color: #dd9d27;
  }
  
  .navbar img{
    width: 60%;
  }
  
  /* ------------------------------ */
  /* ---------- HERO ------------ */
  /* ------------------------------ */
  
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
  }
  
  .hero .hero-heading{
    text-align: center;
    color: #dd9d27;
    font-weight: 900;
    width:55%;
    font-size: 300%;
    text-transform: uppercase;
    line-height: 1;
  }
  
  
  
  .hero .button-large, .button-small, .mob-btn{
    background-color: rgb(255, 43, 43);
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 3% 4%;
    text-transform: uppercase;
    margin-top: 3%;
  }
  
  .mob-btn{
    padding: 5px 10px !important;
    margin-top: 20%;
  }
  
  .button-small{
    padding: 4% 17%;
    margin-right: 90px;
  }
  
  .hero .bottom div img {
    position: fixed;
    left: 85%;
    top: 80%;
    width: 100px;
  }
  
  /* Extra */
  
  .button-small:hover, .button-large:hover{
    background-color: rgb(0, 0, 0);
    transition:all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    border-radius: 30px;
  }
  
  img:hover{
    opacity: 0.5;
    cursor: pointer;
  }
  
  li:hover{
    border-bottom: 2px solid saddlebrown;
    box-shadow: #dd9d27 2px 2px 2px 2px;
    cursor: pointer;
    transition:all .500s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .menu-btn{
    display: none;
  }
  
  ::selection{
    background-color: #dd9d27;
    color: wheat;
  }
  
  .mob-nav{
    background-color: #fff;
    height: 100vh;
    width: 60vw;
    position: absolute;
    top: 0%;
    left: -300%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
  }
  
  .remove{
    left: 0%;
  }
  
  .mob-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
  }
  
  .mob-list li{
    margin-top: 20%;
  }
  
  @media only screen and (min-width: 375px) and (max-width:480px) {
    nav div ul li, .button-small{
      display: none;
    }
  
    .menu-btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      cursor: pointer;
      transition: all .5s ease-in-out;
      /* border: 3px solid #fff; */
    }
    .menu-btn__burger {
      width: 50px;
      height: 6px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255,101,47,.2);
      transition: all .5s ease-in-out;
    }
    .menu-btn__burger::before,
    .menu-btn__burger::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 6px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255,101,47,.2);
      transition: all .5s ease-in-out;
    }
    .menu-btn__burger::before {
      transform: translateY(-16px);
    }
    .menu-btn__burger::after {
      transform: translateY(16px);
    }
    /* ANIMATION */
    .menu-btn.open .menu-btn__burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }
    .menu-btn.open .menu-btn__burger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn__burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  
    .hero .hero-heading{
      font-size: 700%;
      width: 75%;
    }
   
    .hero .bottom div img {
      position: fixed;
      left: 70%;
      top: 80%;
      width: 100px;
    }
  }